//colors
$bg-color: #F2F1EF; //or #CACAB2 or #EADACB
$yellow-color: #F9F1B5;
$orange-color: #E89106; //or  or #DC6B26
$blue-color: #A6D8DE; //or #95CFD3
$brown-color: #5B2700; //or #AE9C96
$red-color: #760015;
$font-color: #3C3C3D;
$gray: #6b6b77; //color for the text on buttons
$bluesh-color: #DCC6E0;
$darker-white: #F2F1EF;
$pink-color: #EADACB;
$footer-bg: #494949;
$table-border-clr: #E1E1E1;
$white: #fff;
$black: #222;

$hand-writing: 'Meie Script', cursive; //font variable - titles
$sans-font: 'Muli', sans-serif; //font variable - buttons
$sans-font-2: 'Quicksand', sans-serif; // font variable - image hovers
$serif-font: 'Lora', serif; // font variable - articles

$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1200px;
$xxl-breakpoint: 1500px;
