.about-us-template-hero {
    position: relative;
}

.about-us-template-title {
    position: absolute;
    bottom: 40%;

    font-size: 2em;
    left: 50%;
    margin-left: -4em;
    @media (min-width: 768px) {
        font-size: 3em;
        margin-left: -4.5em;
    }
    @media (min-width: 1200px) {
        font-size: 4em;
        margin-left: -4em;
    }
}

.first-lead {
    padding: 8rem 0 8rem;
    text-align: center;
    color: $brown-color;
    .title {
        font-size: 2em;
        @include text-shadow(rgba($gray, 0.4) 1px 1px 0);
        @media(min-width: 1200px) {
            font-size: 2.5em;
        }
    }
}

.featured-lead {
    padding: 8rem 0;
}

.about-us-template-paragraph-container {
    text-align: center;
    background-color: $pink-color;
}

.about-us-template-text {
        .title {
            @media (min-width: 992px) {
                font-size: 2em;
                line-height: 2.750em;
            }
        }
        line-height: 3.8rem;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1em;
        padding: 0 1.5rem;
}
