.about-us-template-hero {
    position: relative;
    img {
        height: auto;
    }
}

.about-us-template-title-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.about-us-template-title {
    font-size: 2em;
    text-align: center;
    width: 100%;
    @media (min-width: $sm-breakpoint) {
        font-size: 3em;
    }
    @media (min-width: $lg-breakpoint) {
        font-size: 4em;
    }
}

.first-lead {
    padding: 8rem 0 8rem;
    text-align: center;
    color: $brown-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
        font-size: 2em;
        text-shadow: 1px 1px 0 rgba($gray, 0.4);
        @media(min-width: 1200px) {
            font-size: 2.5em;
        }
    }
    p {
        width: 50%;
    }
}

.about-us-video {
    width: 100%;
    height: 18rem;
    @media(min-width: $sm-breakpoint) {
        height: 30rem;
    }
}

.about-us-template-paragraph-container {
    text-align: center;
    background-color: $pink-color;
    display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: $sm-breakpoint) {
        flex-flow: row wrap;
    }
    &:nth-child(2n) {
        flex-direction: column-reverse;
        @media (min-width: $sm-breakpoint) {
            flex-flow: row wrap;
        }
    }

}

.about-us-template-image {
    width: 100%;
    @media (min-width: $sm-breakpoint) {
        width: 60%;
    }
    img {
        height: auto;
    }
}

.about-us-template-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 3.8rem;
    width: 100%;
    font-size: 1.1em;
    padding: 0 1.5rem;
    @media(min-width: $sm-breakpoint) {
        width: 40%;
        max-width: 40rem;
    }
    .title {
        @media (min-width: $md-breakpoint) {
            font-size: 2em;
            line-height: 2.750em;
        }
    }
}
